html{
    background: black;
    color: gray;
}

.App {

}

.nav {
    width: 95%;
    padding: 1vw;
    margin: 5vh auto;
}

.engine {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.engine > .ins-header {
    background: #111133AA;
    color: white;
    border-bottom: 5px solid teal;
    width: 95%;
    position: fixed;
    z-index: 10;
}

.engine > * {
    opacity: 1;
}

.engine > .ins-header:hover {
    user-selectable: none;
    border-bottom: 5px solid white;
}

.engine > .ins > .panel {
    justify-content: center;
    position: fixed;
    z-index: 10;
}


.panel {
    margin: 1vh auto;
    font-size: 0.75em;
    padding: 5px;
    border: 0.25px solid grey;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 45%;
    align-items: center;
    justify-content: center;
                   
}

.panel > button {
    width: 20%;
    height: 4.6vh;
    min-width: 75px;
    min-height: 50px;
    margin: auto 0;
    font-size: x-small;
    background: #111122aa;
    color: white;
    border: 0.5px solid darkslategrey;
}

button:hover {
    background: yellow;
    color: black;
}

button {
    transition: all 0.5s;
}



.legals {
    font-size: x-small;
    color: teal;
}

.control {
    flex-basis: 25%;
}

.input {
    width: 50%
}

.slider {
    width: 85px;
    padding: 0 0;
    margin: 1vh 0;
    
}

.blinker.note-on {
    background: yellow;
}
